<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monster Slayer!</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3.4.9/dist/vue.global.js" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <div v-if="showPlayerNameInput" class="name_modal">
        <div class="name_container">
          <p>WHAT IS THY NAME, HERO?</p>
          <input v-model="playerName" />
          <button @click="startFight">LET'S BATTLE!</button>
        </div>
      </div>

      <section id="monster" class="container">
        <h2>Monster</h2>
        <div class="stat_info">
          <p class="info_span">HP</p>
          <div class="monster_healthbar">
            <div class="healthbar__value" :style="monsterBarStyles"></div>
          </div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>{{playerName}}</h2>
        <div class="player_stats">
          <div class="stat_info">
            <span class="info_span">HP</span>
            <div class="player_healthbar">
              <div class="healthbar__value" :style="playerHealthStyles"></div>
            </div>
          </div>

          <div class="stat_info">
            <span class="info_span">MP</span>
            <div class="player_manabar">
              <div class="manabar__value" :style="playerManaStyles"></div>
            </div>
          </div>

          <div class="stat_info">
            <span class="info_span">T</span>
            <div class="player_turbobar">
              <div class="turbobar__value" :style="playerTurboStyles"></div>
            </div>
          </div>
        </div>
      </section>

      <section v-if="winner" class="container">
        <h2>Game Over!</h2>
        <h4 v-if="winner === 'monster'">You lost!</h4>
        <h4 v-else-if="winner === 'player'">You won!</h4>
        <h4 v-else="winner === 'draw'">It's a draw!</h4>
        <button @click="newRound">NEW ROUND!</button>
      </section>

      <section v-if="!winner" id="battle_infos">
        <div v-if="showLog===false">
          <section>
            <div id="battle_events"></div>
            <div id="controls">
              <div class="button_containter">
                <button @click="attackMonster">ATTACK</button>
                <button
                  :disabled="mayUseTurboAttack"
                  @click="turboAttackMonster"
                >
                  TURBO
                </button>
                <button :disabled="playerMana <= 0" @click="healPlayer">
                  HEAL
                </button>
                <button @click="surrender">SURRENDER</button>
              </div>
            </div>
          </section>
        </div>

        <div v-if="showLog===true">
          <section class="turn_log">
            <div>
              <p>{{playerMessageLog}}</p>
              <p>{{monsterMessageLog}}</p>
            </div>
            <button @click="next">NEXT TURN!</button>
          </section>
        </div>
      </section>

      <!-- <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul></ul>
      </section> -->
    </div>
  </body>
</html>
